<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.productspring.mapper.ProductMapper">
    <insert id="insert">
        insert into product(name, price, quantity) values (#{name}, #{price}, #{quantity})
    </insert>
    <select id="selectList" resultType="com.example.productspring.domain.ProductVO">
        select * from product where name like concat('%', #{name}, '%') order by id desc;
    </select>
    <select id="selectOne" resultType="com.example.productspring.domain.ProductVO">
        select * from product where id = #{id};;
    </select>
    <select id="selectName" resultType="String">
        select name from product where name = #{name};;
    </select>
    <delete id="delete">
        delete from product where id = #{id}
    </delete>
    <update id="update">
        update product set name = #{name}, price = #{price}, quantity = #{quantity} where id = #{id}
    </update>
</mapper>
